@tailwind base;
@tailwind components;
@tailwind utilities;

.downToUp {
  animation: downToUpAnimation 500ms ease-in-out forwards;
}

@keyframes downToUpAnimation {
  0% {
    opacity: 0;
    transform: translateY(250px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.upToDown{
  animation: upToDownAnimation 500ms ease-in-out forwards;
}

@keyframes upToDownAnimation {
  0% {
    opacity: 0;
    transform: translateY(-250px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.downToUpDisappear{
  animation: downToUpDisappearAnimation 500ms ease-in-out forwards;
}

@keyframes downToUpDisappearAnimation {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(-250px);
  }
}

.upToDownDisappear{
  animation: upToDownDisappearAnimation 500ms ease-in-out forwards;
}

@keyframes upToDownDisappearAnimation {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(250px);
  }
}